<div class="row-fluid other-div">
  <div>
    <%= render 'posts/post/likes', post: post if current_user%>
  </div>
  <div class="span6 offset6">
    <%= render 'shared/asker', post: post %>
  </div>
</div>

