<% @posts.each do |post| %>
  <div class="post-outer">
    <div class="post"> 
      <%=raw sanitize(simple_format(post.content), :tags => %w(br p)) %>
    </div>
  </div>
<% end %>

<%= render 'shared/pagination', collection: @posts %>
